body{
  margin-top: 200px;
  text-align: center;
  background-image: url(https://hdwallsource.com/img/2014/5/plain-backgrounds-19123-19612-hd-wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
