<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="navbar-brand" href="#"><h1 style='color:orange'>Welcome to MoviesRating</h1></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
    <form class="form-inline my-2 my-lg-0">
  <a href="/choose/" class='btn btn-light btn-lg'>USER LOGIN</a>
</form> &nbsp&nbsp&nbsp&nbsp&nbsp
    <form class="form-inline my-2 my-lg-0">
  <a href="/data/" class='btn btn-light btn-lg'>ADMIN</a>
</form>
</div>

</nav>
